/* defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* reuseable */

.primary-btn {
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  padding: 18px 36px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* header section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h3 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.logo h3 span {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
  font-size: 20px;
}
nav li a {
  text-decoration: none;
  color: #474747;
}